.bgimage {
    background-image: url('../img/background.jpg');
    font-family: sans-serif;
    color: orange;
    size: small;
}

.bgimage2 {
    background-image: url('../img/letter4.jpg');
    border: 2px groove;
    width: 800px;
    height: 350px;
    font-family: "serif"、"sans-serif"、"cursive"、"fantasy"、"monospace";
    font-size: 18px;

}

.header {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 2px;
    font-size: medium;
}

.sub-header {
    font-size: small;
    margin-top: 2px;
    margin-bottom: 8px;
}

.content {
    padding-top: 70px;
}

.navbar-default {
    background-color: white;
    border: none;
}

.btn-info {
    color: #555;
    background-color: #eee;
    border-color: #ccc;
}

.btn-success {
    color: #555;
    background-color: #eee;
    border-color: #ccc;
}

.btn-default {
    color: #555;
    background-color: #eee;
    border-color: #ccc;
}

.btn {
    font-size: 12px;
}

.form-control {
    font-size: 12px;
}

.one {
    background-color: #FFFAFA;
}

.score1 {
    padding-left: 100px;
    ] .video1 {
        border: 1px solid white;
    }
    .menu {
        position: center;
        display: center;
    }
    .two {
        font-size: 12px;
        color: #C0C0C0;
    }
    .bgimage2>h2 {
        text-align: center;
        font-family: cursive;
    }
    h2 {
        text-align: center;
        font-family:cursive;
    }
    b, strong {
        font-weight: 1000;
        color: red;
    }
}

.table {
    padding-left: 70px;
    color: maroon;
}

table {
    border: 4px dashed gold;
    width: 95%;
    frame: box;
}

.ukuchord {
    text-align: right;
}

.root {
    height: 40px;
    width: 60%;
    background-color: #FFEBCD;
    text-align: center;
    color: maroon;
    font-family: cursive;
    font-size: 23px;
    margin: 0 auto;
    border: 1px solid maroon;
}

h2 {
    color: maroon;
}

.thumbnail {
    height: 50px;
    width: 50px;
    background-color: #DCDCDC;
    text-align: center;
    color: #808080;
    border-style: outset;
}

.notetitle {
    height: 50px;
    width: 108px;
    background-color: #FFEBCD;
    text-align: center;
    color: maroon;
    font-family: cursive;
    font-size: 23px;
    margin: 0 auto;
    border: 1px solid maroon;
}

.notelist {
    height: 50px;
    width: 108px;
    background-color: #DCDCDC;
    text-align: center;
    color: #808080;
    font-size: 11.5px;
    margin: 0 auto;
    border-style: outset;
    font-family: sans-serif;
}

.root2 {
    height: 40px;
    width: 60%;
    background-color: #F0FFF0;
    text-align: center;
    color: #556B2F;
    font-family: cursive;
    font-size: 23px;
    margin: 0 auto;
    border: 1px double;
}

.thumbnail2 {
    height: 50px;
    width: 50px;
    background-color: #DCDCDC;
    text-align: center;
    color: #808080;
    border-style: outset;
}

.notelist2 {
    height: 50px;
    width: 108px;
    background-color: #DCDCDC;
    text-align: center;
    color: #808080;
    font-size: 11.5px;
    margin: 0 auto;
    border-style: outset;
    font-family: sans-serif;
}

.top10 {
    height: 40px;
    width: 100%;
    background-color: white;
    text-align: center;
    color: maroon;
    font-size: 23px;
    margin: 0 auto;
    border-top: 3px solid gold;
}

.scaleimg {
    padding-left: 50px;
    border-bottom: 2px dashed gold;
}

.carousel {
    height: 400;
}


/*.xxx {
  margin-right: px
}*/
